<div class="">
    <h3>№{{ order.id }} від {{ order.created }}</h3>
    <p>
        <span style='font-size: 12px; color: #5a5a5a;'>Інформація про замовлення</span> <br>
        {{ order.get_delivery_method_display }} <br>
        {{ order.get_delivery_address_display }}
    </p>
    <p>
        <span style='font-size: 12px; color: #5a5a5a;'>Інформація про отримувача</span> <br>
        {{ order.last_name }} {{ order.first_name }} <br>
        {{ order.phone_number }} <br>
        {{ order.email }}
    </p>
    <span style='display: block; margin-bottom: 10px; font-size: 12px; color: #5a5a5a;'>Товари</span>
    {% for product in order.goods.all %}
    <div style='margin-bottom: 15px;'>
        {{ product.name }}
        <div>
            <div>
                <span class='hint-detail'>Ціна</span>
                <span class='ordered-product-text'>{{ product.price }} ₴</span>
            </div>
            <div>
                <span class='hint-detail'>Кількість</span>
                <span class='ordered-product-text'>{{ product.quantity }}</span>
            </div>
            <div style='display: flex;'>
                <span class='hint-detail'>Сума</span>
                <span class='ordered-product-text'>{{ product.product_price }} ₴</span>
            </div>
        </div>
    </div>
    {% endfor %}
    <p>
        <span style='font-size: 12px; color: #5a5a5a;'>Оплата {% if order.is_paid %}(Оплачено){% endif %}</span> 
       <span>{{ order.get_payment_method_display }}</span>
    </p>
    <h3>
        <span>Разом</span> {{ order.goods.total_price }} грн.
    </h3>
</div>
