{% extends 'base.html' %}

{% block title %}
    TECH SHOP - Авторизація
{% endblock  %}

{% block content %}
<div class="row justify-content-center">
    <form method="post" class='col-sm-12 col-md-6'>
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="message-container">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible message" role="alert">
                    {{ error|striptags }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
        <p>
            <label for="id_username">Ел. пошта:</label>
            <input type="text" name='username', id='id_username' class='form-control' value='{% if form.username.value %}{{ form.username.value }}{% endif %}' required>
        </p>
        <p>
            <label for="id_password">Пароль:</label>
            <input type="password" name='password' id='id_password' class='form-control' value='{% if form.password.value %}{{ form.password.value }}{% endif %}' required>
        </p>
        {% if request.GET.next %}
            <input type="hidden" name='next' value='{{ request.GET.next }}'>
        {% endif %}
        <input type="submit" value="Увійти" class='form-control btn btn-primary'>
    </form>
</div>
{% endblock  %}