{% extends "base.html" %}

{% block title %}
    TECH SHOP - Відновлення пароля
{% endblock  %}

{% block content %}
<div class="row align-items-center" style='min-height: 100%;'>
    <div class="col-12 col-md-6" style='margin: 0 auto;'>
        {% block pass_reset_content %}
            <h3>Відновити пароль</h3>
            <p>Для відновлення пароля введіть свій e-mail, який ви вказали при реєстрації і ми надішлемо туди посилання із подальшими вказівками.</p>
            <form method='post'>
                {% include "includes/form_errors.html" %}
                {% csrf_token %}
                <label for="id_email">Ел. пошта:</label>
                <input type="email" class='form-control' id='id_email' name='email' {% if request.POST.email %}value='{{ request.POST.email }}'{% endif %} required>
                <input type="submit" class='btn btn-success' style='margin: 10px 0; width: 100%;' value='Надіслати листа'>
            </form>
        {% endblock  %}
    </div>
</div>
{% endblock  %}