{% extends 'base.html' %}
{% load static %}
{% load orders_tags %}

{% block title %}
    TECH SHOP - Профіль
{% endblock  %}

{% block cart_nav %}
{% endblock  %}

{% block cart_modal %}
{% endblock  %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-lg-5" style="margin-bottom: 32px;">
        {% block profile %}
        <div class="profile-info">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="{{ user.first_name }} photo" class='profile-pic'>
                {% else %}
                <img src="{% static 'users/default-avatar-profile.jpg' %}" alt="default profile pic" class='profile-pic'>
                {% endif %}
            <p>
                <span class="profile-label">Ім'я:</span><br>
                {{ user.first_name }}
            </p>
            <p>
                <span class="profile-label">Прізвище:</span><br>
                {{ user.last_name }}
            </p>
            <p>
                <span class="profile-label">Ел. пошта:</span><br>
                {{ user.email }}
            </p>
            <p>
                <span class="profile-label">Номер телефону:</span><br>
                {{ user.phone_number }}
            </p>
        </div>
            <a href="{% url "users:edit_profile" %}" class="btn btn-primary" style="width: 100%;">Редагувати профіль</a>
        {% endblock  %}
    </div>
    <div class="col-12 col-lg-7">
        <h3 style="padding-left: 15px;">Кошик</h3>
        <div id="cart-items-container">
            {% include 'carts/includes/cart.html' %}
        </div>
    </div>
    <div class="col-12 col-md-9 mt-3">
        <h3 style="padding-left: 15px;">Історія замовлень</h3>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            {% get_user_orders user as orders %}
            {% for order in orders %}
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                data-bs-target="#panelsStayOpen-collapse{{ order.id }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse{{ order.id }}">
                  Замовлення №{{ order.id }} від {{ order.created }}
                </button>
              </h2>
              <div id="panelsStayOpen-collapse{{ order.id }}" class="accordion-collapse collapse">
                <div class="accordion-body row">
                    <div class="col-12 col-md-5">
                        <p>
                            <span class='hint'>Інформація про замовлення</span> <br>
                            {{ order.get_delivery_method_display }} <br>
                            {{ order.get_delivery_address_display }}
                        </p>
                        <p>
                            <span class='hint'>Інформація про отримувача</span> <br>
                            {{ order.last_name }} {{ order.first_name }} <br>
                            {{ order.phone_number }} <br>
                            {{ order.email }}
                        </p>
                    </div>
                    <div class="col-12 col-md-7">
                        <span class='hint' style='display: block; margin-bottom: 10px;'>Товари</span>
                        {% for product in order.goods.all %}
                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <img src="{{ product.product.photo.url }}" alt="{{ product.name }}" style='width: 50px;'>
                                <a href="{{ product.product.get_absolute_url }}" class='link-hover' style='margin: 5px;'>
                                    {{ product.name }}
                                </a>
                            </div>
                            <div class="col-12 col-xl-6 row">
                                <div class='ordered-product-detail col'>
                                    <span class='hint-detail'>Ціна</span>
                                    <span class='ordered-product-text'>{{ product.price }} ₴</span>
                                </div>
                                <div class="ordered-product-detail col">
                                    <span class='hint-detail'>Кількість</span>
                                    <span class='ordered-product-text'>{{ product.quantity }}</span>
                                </div>
                                <div class="ordered-product-detail col" style='display: flex;'>
                                    <span class='hint-detail'>Сума</span>
                                    <span class='ordered-product-text'>{{ product.product_price }} ₴</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        <p class='order-info'>
                            <span class='hint'>Оплата</span> {{ order.get_payment_method_display }}
                        </p>
                        <p class='order-info'>
                            <span class='hint'>Разом</span> {{ order.goods.total_price }} грн.
                        </p>

                    </div>
                </div>
              </div>
            </div>
            {% empty %}
            <p>Ви ще не робили жодного замовлення</p>
            {% endfor %} 
        </div>      
    </div>
</div>
{% endblock  %}