{% load static %}
{% load carts_tags %}

{% if goods %}
    {% for cart_item in goods %}
    <div style='display: flex; align-items: center; margin: 10px 0;'>
        <div style='width: 80px; margin-right: 20px;'>
                {% if cart_item.product.photo %}
                <img src="{{ cart_item.product.photo.url }}" alt="{{ cart_item.product.name }}">
                {% else %}
                <img src="{% static 'goods/No-image-found.jpg' %}" alt="">
                {% endif %}
        </div>
        <div class='row' style='flex-grow: 1;'>
            <div class="col-7" style='display: flex; flex-direction: column;'>
                <div class="">
                    <a href="{% url "goods:product_details" cart_item.product.slug %}" class='link-hover'>
                        <b>{{ cart_item.product.name }}</b>
                    </a>
                </div>
                <div class='input-group'>
                    <button class="btn decrement" data-cart-change-url="{% url "carts:cart_change" %}" data-cart-id="{{ cart_item.id }}">
                        {% csrf_token %}
                        -
                    </button>
                        <input type="text" class='form-control number' value="{{ cart_item.quantity }}" style='margin: 0 10px;'>
                    <button class="btn increment" data-cart-change-url="{% url "carts:cart_change" %}" data-cart-id="{{ cart_item.id }}">
                        {% csrf_token %}
                        +
                    </button>
                </div>
            </div>
            <div class="col-5" style='display: flex; justify-content: center; align-items: center;'>
                <span>{{ cart_item.product_price }} ₴</span>
            </div>
        </div>
        <div style='width: 27px; margin-left: 20px;'>
            <a href="{% url "carts:cart_delete" %}" class='remove-from-cart' data-cart-id="{{ cart_item.id }}">
                {% csrf_token %}
                <img src="{% static "carts/rubbish-bin.svg" %}" alt="delete product">
            </a>
        </div>
    </div>
    {% endfor %}
    <div>
        <h5>Всього {{ goods.total_quantity }} товарів на суму {{ goods.total_price }} грн.</h5>
        <a href="{% url "orders:create_order" %}" class='btn btn-success'>Оформити замовлення</a>
    </div>
{% else %}
    <p>В корзині порожньо</p>
    <a href="{% url "goods:index" %}" class='btn btn-success'>Розпочати покупки</a>
{% endif %}