{% load static %}
{% load carts_tags %}

{% get_cart request as goods %}
{% if goods %}
    {% for cart_item in goods %}
    <div class="row align-items-center">
        <div class="col-4 col-lg-2">
            {% if cart_item.product.photo %}
            <img src="{{ cart_item.product.photo.url }}" alt="{{ cart_item.product.name }}">
            {% else %}
            <img src="{% static 'goods/No-image-found.jpg' %}" alt="">
            {% endif %}
        </div>
        <div class="col-6 col-lg-9" style='display: flex; flex-direction: column; justify-content: center;'>
            <div>
                <a href="{% url "goods:product_details" cart_item.product.slug %}" class='link-hover'>
                    <b>{{ cart_item.product.name }}</b>
                </a>
            </div>
            <div style='display: flex;'>
                <p class='input-group' style='margin-right: 20px; display: flex;'>
                    <button class="btn decrement" data-cart-change-url="{% url "carts:cart_change" %}" data-cart-id="{{ cart_item.id }}">
                        {% csrf_token %}
                        -
                    </button>
                        <input type="text" class='form-control number' value="{{ cart_item.quantity }}" style='margin: 0 10px;'>
                    <button class="btn increment" data-cart-change-url="{% url "carts:cart_change" %}" data-cart-id="{{ cart_item.id }}">
                        {% csrf_token %}
                        +
                    </button>
                </p>
                <p>{{ cart_item.product_price }} грн.</p>
            </div>
        </div>
        <div class="col-2 col-lg-1">
            <a href="{% url "carts:cart_delete" %}" class='remove-from-cart' data-cart-id="{{ cart_item.id }}">
                {% csrf_token %}
                <img src="{% static "carts/rubbish-bin.svg" %}" alt="delete product" style='width: 80%;'>
            </a>
        </div>
    </div>
    {% endfor %}
    <div>
        <h5>Всього {{ goods.total_quantity }} товарів на суму {{ goods.total_price }} грн.</h5>
        <a href="#" class='btn btn-success'>Оформити замовлення</a>
    </div>
{% else %}
    <p>В корзині порожньо</p>
    <a href="{% url "goods:index" %}" class='btn btn-success'>Розпочати покупки</a>
{% endif %}