html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin-top: 80px;
    flex: 1;
}

#nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}