html, body {
    height: 100%;
    margin: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    margin-top: 87px;
    flex: 1;
}

#nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.discount-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.old-price {
    text-decoration: line-through;
}

.new-price {
    font-size: 17px;
    color: red !important;
}

.link-hover:hover {
    text-decoration: underline;
}

.ending {
    font-size: 23px;
    color: white;
    background-color: brown;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
    border-radius: 12px;
}

.price-order-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-detail-old {
    font-size: 23px;
}

.price-detail-main {
    font-size: 30px;
}

.price-discount-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart {
    color: white;
    background-color: #24B700;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 10px;
}

.quantity {
    font-size: 18px;
    color: white;
    background-color: #457B9D;
    border-radius: 50%;
    padding: 0 3px;
}

.mini-profile-pic {
    width: 40px;
    border-radius: 50%;
}

.profile-info {
    padding: 0 15px;
}

.profile-pic {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.profile-label {
    color: #7d7d7d;
    font-style: italic;
    font-size: 13px;
}

.cancel-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes message-disappear {
    95% {opacity: 100%; display: block;}
    100% {opacity: 0%; display: none;}
}

.message-container {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.message {
    z-index: 9999;
    animation-name: message-disappear;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

.cart-image-container {
    width: 40px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.cart-image {
    padding: 10px;
    width: 100%;
    background-color: rgb(0, 163, 0);
    border-radius: 10px;
}

.cart-image:hover {
    background-color: rgb(0, 130, 0);
}