{% extends "base.html" %}
{% block title %}
Про нас
{% endblock %}
{% block content %}
<div class="">
    <p>
        Ми - магазин, який спеціалізується на продажі домашньої техніки. Наша мета - робити ваше домашнє життя комфортнішим і зручнішим завдяки сучасним технологіям. 
        Ми пропонуємо великий вибір побутової техніки, від холодильників і пральних машин до мікрохвильових печей та кавоварок.
    </p>
    <p>
        Ми розуміємо, наскільки важливо мати надійну техніку вдома, тому працюємо тільки з перевіреними брендами і забезпечуємо якісні товари за доступними цінами.
        Ми прагнемо забезпечити кожного клієнта не тільки високоякісною технікою, але й винятковим обслуговуванням. Завітайте до нас, і ми допоможемо вам зробити ваш дім затишнішим і функціональнішим.
    </p>
</div>
{% endblock %}