{% extends "base.html" %}
{% load static %}

{% block title %}
    TECH SHOP
{% endblock %}

{% block content %}
    {% for category in categories %}
    <p>{{ category.name }}</p>
    {% endfor %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for product in products %}
        <div class="col">
          <a href="#">
          <div class="card shadow-sm">
            {% if product.photo %}
            <img src="{{ product.photo.url }}" alt="{{ product.name }}">
            {% else %}
            <img src="{% static 'goods/No-image-found.jpg' %}" alt="">
            {% endif %}
            <div class="card-body">
              <p class="card-text"><b>{{ product.name }}</b></p>
              <p class="card-text">{{ product.description|truncatechars:80 }}</p>
              <div class="d-flex justify-content-end align-items-center">
                <small class="text-body-secondary">{{ product.price }} грн.</small>
              </div>
            </div>
          </div>
          </a>
        </div>
        {% endfor %}
      </div>
{% endblock %}