{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block title %}
  TECH SHOP - {{ cat_name }}
{% endblock %}

{% block catalog %}
{% endblock  %}

{% block content %}
<div class="page row">
  <div class="col-12 col-md-3">
    <ul class="list-group">
      <a class="{% if cat_name != "Всі товари" %}link-hover{% endif %}" href="{% url 'goods:index' %}"><li class="list-group-item {% if cat_name == "Всі товари" %}active{% endif %}" aria-current="true">Всі товари</li></a>
      {% get_categories as categories %}
      {% for category in categories %}
      <a href="{% url 'goods:view_category' category.slug %}" class="{% if category.name != cat_name %}link-hover{% endif %}"><li class="list-group-item {% if category.name == cat_name %}active{% endif %}">{{ category.name }}</li></a>
      {% endfor %}
    </ul>
  </div>
  <div class="col-12 col-lg-9">
    <div class="container">
      <form method="get" >
        <div class="row align-items-center">
          <p class="col-md-3 col-12" style="margin: 8px 0;">
            {{ form.is_discounted.label }}:
            {{ form.is_discounted }}
          </p>
          <p class="col-md-6 col-12" style="margin-bottom: 23px;">
            {{ form.order_by.label }}:
            {{ form.order_by }}
          </p>
          {% if request.GET.q %}
            <input type="hidden" value="{{ request.GET.q }}" name="q">
          {% endif %}
          <input type="submit" value="Застосувати" class="btn btn-primary col-12 col-md-3">
        </div>
      </form>
    </div>
    <div>
      {% if request.GET.q %}
        <h3 style="margin-top: 32px; margin-bottom: 32px;">Результати за пошуком: "{{ request.GET.q }}" <span class="quantity">{{ quantity }}</span></h3>
      {% else %}
        <h3 style="margin-top: 32px; margin-bottom: 32px;">{{ cat_name }} <span class="quantity">{{ quantity }}</span></h3>
      {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="max-width: 100%;">
      {% for product in page %}
      <div class="col" style='position: relative;'>
        <a href="{{ product.get_absolute_url }}">
          <div class="card shadow-sm">
            {% if product.photo %}
            <img src="{{ product.photo.url }}" alt="{{ product.name }}">
            {% else %}
            <img src="{% static 'goods/No-image-found.jpg' %}" alt="">
            {% endif %}
            <div class="card-body" style="min-height: 100%;">
              <p class="card-text"><b>{{ product.name }}</b></p>
              <p class="card-text text-truncate">{{ product.description }}</p>
              <div class="d-flex justify-content-between align-items-end" style="height: 40px;">
                <small class="text-body-secondary">id: {{ product.get_id }}</small>
                <div class="discount-block">
                  {% if product.discount_price %}
                    <small class="text-body-secondary new-price">{{ product.discount_price }} грн.</small>
                    <small class="text-body-secondary old-price">{{ product.price }} грн.</small>
                  {% else %}
                    <small class="text-body-secondary">{{ product.price }} грн.</small>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url "carts:cart_add" %}" class="cart-image-container add-to-cart" data-product-id='{{ product.id }}'>
          {% csrf_token %}
          <img src="{% static 'goods/cart.svg' %}" alt="add to the cart" class='cart-image buy'>
        </a>
      </div>
      {% empty %}
      <h3>Товарів не знайдено!</h3>
      {% endfor %}
    </div>
    {% if quantity > 0 %}
    <nav aria-label="Page navigation example" style="margin-top: 32px;">
      <ul class="pagination">
        {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="?{% create_get_params page=page.previous_page_number %}">&laquo;</a></li>
        {% endif %}
        {% for page_num in page.paginator.page_range %}
          {% if page_num >= page.number|add:-2 and page_num <= page.number|add:2 %} 
          <li class="page-item">
            <a class="page-link {% if page_num == page.number %}active{% endif %}" href="?{% create_get_params page=page_num %}">{{ page_num }}</a>
          </li>
          {% endif %}
        {% endfor %}
        {% if page.has_next %}
          <li class="page-item"><a class="page-link" href="?{% create_get_params page=page.next_page_number %}">&raquo;</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </div>
</div>
{% endblock %}